$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower
//colors
$color_0: rgba(51, 103, 153, 1);
$home: rgba(255, 255, 255, 1);
$politica: rgba(51, 51, 51, 1);
$regional: rgba(138, 168, 36, 1);
$infogen: rgba(101, 1, 154, 1);
$nacional: rgba(177, 111, 10, 1);
$internacional: rgba(2, 154, 202, 1);
$opinion: rgba(153, 153, 153, 1);
$deportes: rgba(215, 172, 0, 1);
$sucesos: rgba(111, 0, 0, 1);
$mas: rgba(0, 0, 0, 1);
$home1: rgba(9, 69, 128, 1);
$home2: rgba(204, 204, 204, 1);
$home3: rgba(0, 0, 0, .075);
$home4: rgba(53, 150, 224, 1);
$home5: rgba(163, 8, 186, 1);
$home6: rgba(79, 154, 113, 1);
$home7: rgba(189, 0, 85, 1);
$home8: rgba(204, 127, 5, 1);
$home9: rgba(0, 0, 0, .5);
$politica0: rgba(0, 0, 0, .8);
$politica1: rgba(0, 0, 0, .9);
$politica2: rgba(115, 115, 115, 1);
$politica3: rgba(0, 102, 153, 1);
$politica4: rgba(106, 106, 106, 1);
$politica5: rgba(50, 50, 50, .1);
$politica6: rgba(51, 122, 183, 1);
$politica7: rgba(211, 207, 202, 1);
$politica8: rgba(221, 221, 221, 1);
$politica9: rgba(0, 0, 0, 0.12);
$regional0: rgba(0, 0, 0, 0.24);
$regional1: rgba(105, 105, 105, 1);
$regional2: rgba(0, 140, 186, 1);
$regional3: rgba(126, 126, 126, 1);
$regional4: rgba(3, 38, 62, 1);
$regional5: rgba(240, 240, 240, 1);
//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

$font_0: Open Sans;
$font_1: Gentium Basic;
$font_2: sans-serif;
$font_3: Helvetica Neue;
$font_4: Helvetica;
$font_5: Arial;
$font_6: sans-serif !important;
$font_7: serif;
//urls
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

@font-face {
    font-family: $font_0;
    font-weight: 400;
    
}

@font-face {
    font-family: $font_1;
    font-weight: 400;
    
}

header {
    height: 75px;
    padding-top: 10px;
}

#nav {
    z-index: 1000;
    &.affix {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        > div > div > div.navbar-header > a > img {
            display: block;
        }
    }
    > div > div > div.navbar-header > a > img {
        display: none;
    }
}

.oculto {
    display: none;
}

.homeLine {
    border-top: 2px solid $home;
}

.politicaLine {
    border-top: 2px solid $politica;
}

.regionalLine {
    border-top: 2px solid $regional;
}

.infogenLine {
    border-top: 2px solid $infogen;
}

.nacionalLine {
    border-top: 2px solid $nacional;
}

.internacionalLine {
    border-top: 2px solid $internacional;
}

.opinionLine {
    border-top: 2px solid $opinion;
}

.deportesLine {
    border-top: 2px solid $deportes;
}

.sucesosLine {
    border-top: 2px solid $sucesos;
}

.mas {
    border-top: 2px solid $mas;
}

.navbar {
    font-size: 13px;
    font-weight: 400;
    border: none;
}

.headerhr {
    display: block;
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 1px solid $home1;
}

#sidebar {
    &.affix-top {
        position: static;
    }
    &.affix {
        position: fixed;
        top: 80px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media(max-width: 767px) {
    .navbar-brand {
        position: relative;
        left: 50%;
        margin: 0 auto;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateX(-50%);
    }
    #nav {
        &.affix > div > div > div.navbar-header > a > img {
            display: block;
            height: 28px;
        }
        > div > div > div.navbar-header > a > img {
            display: block;
            height: 28px;
        }
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 9px 10px;
        border: 1px solid transparent;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 4px;
        background-color: transparent;
        background-image: none;
    }
    .navbar-default .navbar-toggle {
        border-color: $home;
        background-color: $home;
        &:hover {
            background-color: $color_0;
        }
        &:focus {
            background-color: $color_0;
        }
        .icon-bar {
            background-color: $color_0;
        }
    }
}

.azul {
    background-color: $color_0;
}

.home {
    color: $mas !important;
    background-color: $home;
}

.politica {
    color: $home;
    background-color: $politica;
}

.regional {
    color: $home;
    background-color: $regional;
}

.infogen {
    color: $home;
    background-color: $infogen;
}

.nacional {
    color: $home;
    background-color: $nacional;
    padding: 2px;
}

.internacional {
    color: $home;
    background-color: $internacional;
}

.opinion {
    color: $home;
    background-color: $opinion;
}

.deportes {
    color: $home;
    background-color: $deportes;
}

.sucesos {
    color: $home;
    background-color: $sucesos;
}

.mas {
    color: $home;
    background-color: $mas;
}

.reportajesyespeciales {
    color: $home;
    background-color: $home5;
}

cosasdelmundo {
    color: $home;
    background-color: $home6;
}

.farandulayespectaculos {
    color: $home;
    background-color: $home7;
}

.infogeneral {
    color: $home;
    background-color: $home8;
}

.slide {
    position: relative;
}

.bx-wrapper {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 5px $home !important;
}

.category {
    font-family: $font_0, $font_2;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 1px $home9;
}

.newTitle {
    position: absolute;
    bottom: 0;
    float: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: $home;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, $politica0 100%);
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 1px $home9;
    &:hover {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, $politica1 100%);
    }
    > h3 {
        font-family: $font_0, $font_2;
        margin-bottom: 20px;
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: 1px 1px 1px $home9;
    }
}

.topnews {
    max-height: 250px;
}

.categorysmall {
    font-family: $font_0, $font_2;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 1px $home9;
}

.newTitleSmall {
    position: absolute;
    bottom: 0;
    float: left;
    width: 91%;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: $home;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, $politica0 100%);
    > h3 {
        font-family: $font_0, $font_2;
        font-size: 16px;
        margin-bottom: 10px;
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: 1px 1px 1px $home9;
    }
}

.adsLarge {
    padding-bottom: 20px;
}

.adsLargeMain {
    padding-top: 0;
    padding-bottom: 20px;
}

@media only screen and(max-width: 992px) {
    #news-slider > article > div > img {
        height: 500px;
    }
}

.post {
    overflow: hidden;
    background-color: $home;
    height: 400px;
    .content {
        padding: 0;
        padding-bottom: 15px;
    }
    .postHead {
        font-size: 11px;
        padding-top: 10px;
        color: $politica2;
        > {
            h3 {
                margin-top: 5px;
                margin-bottom: 5px;
                color: $mas;
                font-size: 14px;
                > a {
                    font-size: 22px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: $politica;
                    text-decoration: none;
                    &:hover {
                        color: $politica3;
                    }
                }
            }
            p {
                font-family: $font_3, $font_4, $font_5, $font_6;
                font-size: 13px;
                margin-top: 10px;
                padding: 0;
                color: $politica4;
                text-rendering: optimizeLegibility;
            }
        }
    }
    .img-responsive {
        display: block;
        max-width: 310px;
        height: auto;
    }
    .post-img-content {
        position: relative;
        height: 196px;
        margin-left: auto;
        margin-right: auto;
        img {
            position: absolute;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .post-category {
        position: relative;
        z-index: 2;
        top: 12px;
        left: 12px;
        display: table-cell;
        vertical-align: bottom;
        text-transform: uppercase;
        b {
            font-family: $font_0, $font_2;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 5px;
            padding-left: 10px;
            color: $home;
        }
    }
}

.sidebar {
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
}

.postLine {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 10px 0 10px -7px $politica5;
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.post-referal {
    a {
        color: $politica;
        &:hover {
            color: $politica6;
            cursor: pointer;
            text-decoration: none;
        }
    }
    h5 {
        font-size: 16px;
    }
}

.referal {
    margin-bottom: 40px;
    &:hover > {
        a {
            color: $politica6;
            cursor: pointer;
            opacity: 0.8;
        }
        img {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.topshadow {
    padding-top: 20px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 5px 5px -5px $politica5;
}

.lastadv {
    z-index: 9999;
}

.adsside {
    padding-top: 5px;
    padding-bottom: 15px;
}

.adslot {
    padding-top: 15px;
}

.side-title {
    font-family: $font_0, $font_2;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    color: $home;
}

.twitter {
    margin-bottom: 10px;
}

#tweets {
    height: 220px;
    > div > div {
        height: 190px !important;
        padding: 4px;
        > ul {
            padding-top: 20px;
            padding-left: 20px;
            > li {
                width: 300px !important;
                > {
                    div {
                        font-family: $font_0, $font_2;
                    }
                    p.tweet {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.tweet {
    font-size: 14px !important;
}

#follow {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 140px;
}

.fbbox {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#facebook {
    height: auto;
    min-height: 250px;
    margin-bottom: 10px;
}

.portadaln {
    padding: 20px;
}

#mainnav {
    font-family: $font_0, $font_2;
    font-size: 12px;
}

.plateinfo {
    padding-top: 20px;
}

footer {
    font-family: $font_0, $font_2;
    padding: 25px;
}

.finfo {
    font-size: 18px;
    margin-bottom: 9px;
}

.psection {
    font-family: $font_0, $font_2;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 1px $home9;
}

.postTitle {
    font-family: $font_0, $font_2;
}

.socialshare {
    padding: 10px;
}

.date {
    font-family: $font_0, $font_2;
}

.postContent {
    padding-top: 20px;
    font-size: 15px;
    p {
        text-rendering: optimizeLegibility;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.suggestad-xs {
    margin-bottom: 20px;
}

.cita {
    font-size: 1.3em;
    line-height: 15px;
}

.postHead {
    margin-top: 5px;
}

.postTags {
    font-family: $font_0, $font_2;
}

.suggest {
    float: left;
    width: 320px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.relatedContent {
    padding-top: 15px;
}

.relatedNews {
    padding-left: 10px;
    list-style: none;
}

.relatedTitle {
    font-family: $font_0, $font_2;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: $color_0;
    border-bottom: 1px solid $politica7;
}

.relatedTitles {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $politica7;
    font-size: 13px;
    &:hover {
        cursor: pointer;
        color: $color_0;
    }
}

.clasific {
    margin-top: 30px;
    cursor: pointer;
    img:hover {
        opacity: 0.9;
    }
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.panel-default {
    border-color: $home !important;
}

.panel-heading {
    padding: 0;
}

.classifiedCont {
    padding: 10px;
    padding-left: 30px !important;
    padding-right: 3px !important;
}

.calendario {
    font-size: 10px;
}

.busquedas {
    margin-top: 20px;
}

.panel {
    border: 0 !important;
    &:hover {
        border: 0 !important;
    }
}

.classified {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid $politica8;
    &:hover {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 1px 1px $politica9, 0 1px 2px $regional0;
        border-bottom: 1px solid $politica8;
    }
}

.item_cat_region_separator {
    width: 2px;
    height: 2px;
    background: $regional1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

.classifiedTitle {
    font-family: $font_0, $font_6;
}

.classifiedDetail {
    color: $regional2;
    margin-top: 10px;
    font-size: 12px;
}

.classifiedDetailText {
    padding-top: 0;
    opacity: 0.9;
}

.classifiedExt {
    padding-top: 30px;
    opacity: 0.5;
}

.copyright {
    margin-top: 10px;
    font-size: 10px;
}

.clas-serv {
    background: $home !important;
    color: $home !important;
    img:hover {
        opacity: 0.8;
    }
}

.panel-body {
    padding: 0;
    .table {
        margin-bottom: 0;
    }
    table tr td {
        padding-left: 15px;
    }
}

.classifiedcats {
    padding-top: 10px;
    list-style: none;
    padding-left: 0;
    font-size: 13px;
    color: $regional3;
    li:hover {
        color: $regional4;
        cursor: pointer;
        a {
            color: $regional3;
        }
    }
    li {
        a {
            color: $regional3;
            text-decoration: none;
        }
    }
}

.place {
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
        cursor: pointer;
        color: $color_0;
    }
}

.cat {
    border: 1px solid $regional5;
    padding-right: 0;
    padding-left: 0;
    margin-top: 25px;
    > {
        .catTitle {
            font-size: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            background-color: $regional5;
            &:hover {
                font-size: 20px;
                background-color: $color_0;
                color: $home;
            }
        }
        .catSubItmes {
            font-family: $font_1, $font_7;
            font-size: 1em;
            > {
                ul>li>a:hover {
                    cursor: pointer;
                    color: $color_0;
                }
                ul>li >a {
                    cursor: pointer;
                    color: $politica;
                    text-decoration: none;
                }
            }
        }
    }
}

.h2-seprator {
    height: 1px;
    width: 100px;
    background: $color_0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.navbar-form input {
    width: auto;
}

.form-inline input {
    width: auto;
}

.navbar-default .navbar-nav > li {
    > a {
        color: $home !important;
    }
    &.homeLine > a {
        &:hover {
            color: $mas !important;
            background-color: $home;
        }
        &:focus {
            color: $mas !important;
            background-color: $home;
        }
    }
    &.politicaLine > a {
        &:hover {
            color: $home;
            background-color: $politica;
        }
        &:focus {
            color: $home;
            background-color: $politica;
        }
    }
    &.regionalLine > a {
        &:hover {
            color: $home;
            background-color: $regional;
        }
        &:focus {
            color: $home;
            background-color: $regional;
        }
    }
    &.infogenLine > a {
        &:hover {
            color: $home;
            background-color: $infogen;
        }
        &:focus {
            color: $home;
            background-color: $infogen;
        }
    }
    &.nacionalLine > a {
        &:hover {
            color: $home;
            background-color: $nacional;
        }
        &:focus {
            color: $home;
            background-color: $nacional;
        }
    }
    &.internacionalLine > a {
        &:hover {
            color: $home;
            background-color: $internacional;
        }
        &:focus {
            color: $home;
            background-color: $internacional;
        }
    }
    &.opinionLine > a {
        &:hover {
            color: $home;
            background-color: $opinion;
        }
        &:focus {
            color: $home;
            background-color: $opinion;
        }
    }
    &.deportesLine > a {
        &:hover {
            color: $home;
            background-color: $deportes;
        }
        &:focus {
            color: $home;
            background-color: $deportes;
        }
    }
    &.sucesosLine > a {
        &:hover {
            color: $home;
            background-color: $sucesos;
        }
        &:focus {
            color: $home;
            background-color: $sucesos;
        }
    }
    &.mas > a {
        &:hover {
            color: $home;
            background-color: $mas;
        }
        &:focus {
            color: $home;
            background-color: $mas;
        }
    }
}

.search-form .form-group {
    float: right !important;
    width: 32px;
    height: 32px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .35s, border-radius 0s;
    border: 1px solid $home2;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 25px;
    background-color: $home;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 1px $home3 inset;
    input {
        &.form-control {
            display: block;
            padding-right: 20px;
            border: 0 none;
            background: transparent;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: none;
            &:-moz-placeholder {
                display: none;
            }
            &:-ms-input-placeholder {
                display: none;
            }
        }
        &.form-control::-webkit-input-placeholder {
            display: none;
        }
        &.form-control::-moz-placeholder {
            display: none;
        }
    }
    &:hover {
        width: 100%;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 25px 25px 25px 25px;
    }
    &.hover {
        width: 100%;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 25px 25px 25px 25px;
    }
    span.form-control-feedback {
        font-size: 14px;
        line-height: 34px;
        position: absolute;
        z-index: 2;
        top: -1px;
        right: -2px;
        left: initial;
        display: block;
        text-align: center;
        color: $home4;
    }
}

.news-slider .article {
    position: static !important;
}

body > div.container > div {
    > div {
        &.col-md-7 {
            &.col-sm-12 {
                padding-right: 0;
            }
            > div > div > img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &.col-md-5.hidden-xs.hidden-sm {
            padding-left: 0;
            > div:nth-child(2) > div > {
                img {
                    margin-top: 10px;
                }
                span {
                    margin-top: 24px;
                }
            }
        }
    }
    &:nth-child(2) > div {
        &.col-md-8.col-sm-12 {
            padding-right: 0;
        }
        &.col-md-4.hidden-xs.hidden-sm > div {
            &:nth-child(2) > div > span.newTitleSmall {
                margin-bottom: 0;
            }
            &:nth-child(1) > div {
                padding-bottom: 20px;
            }
        }
    }
}

#news-slider > article > div > img {
    height: 425px;
}

#tweecool > ul > li {
    list-style-type: none;
}

article > div > div > i.fa:hover {
    cursor: pointer;
    color: $color_0;
}

.classifiedNav > li {
    list-style: none;
}

.panel-title > a >.fa {
    margin-right: 10px;
}

.catTitle.titles.text-center > .fa {
    margin-right: 10px;
}
