<clasificados >
<clasificado if={items.length > 0 } each={items} class="row classified">
<div class="col-md-3 classifiedExt">
    <div class="row">
        <div class="socialshare text-center"> <i class="fa fa-facebook fa-lg "></i>&nbsp;&nbsp; <i class="fa fa-twitter fa-lg "></i>&nbsp;&nbsp; <i class="fa fa-google-plus fa-lg "></i>&nbsp;&nbsp; <i class="fa fa-envelope fa-lg "></i> </div>
    </div>
    <div class="row text-center oculto"> <i class="fa fa-calendar-o"></i>{now}</div>
    <div class="row classifiedID text-center">
        <h5>{factura}</h5> </div>
</div>
<div class="col-md-6 classifiedCont">
    <div class=" classifiedTitle">
        <h4>{abc}</h4> </div>
    <div class=" classifiedDetailText">{aviso}</div>
    <div class=" classifiedDetail">{seccion}<span class="item_cat_region_separator"></span> Tachira &nbsp;<i class="fa fa-map-marker"></i><span class="oculto">&nbsp; San Cristobal</span></div>

</div>
<div  class="col-md-3 oculto"> <img src="" width="160" height="150"></div>

</clasificado>
<clasificado if={items.length < 1} class="row">
    No hay clasificados para mostrar 
</clasificado>
    this.items=opts.items
    $('#loadimg').hide();
</clasificados>

